{% extends 'base.html' %}

{% block content %}

  <h1 id="playTitle">P   L   A   Y</h1>
  <br><br>

  <!-- #########################################
  ### FORM -- THIS IS FROM forms.py ###
  ######################################### -->



  <form  class="form" method="post">
    {{form.hidden_tag()}}
    <!-- {{form.name.label}}  -->
    {{form.name(class="nameform", placeholder="Insert Name")}}


    <br><br><br>


      <h3>Listen audio:</h3>
      <audio controls id="masteraudio">
        <source src="{{url_for('static',filename='uchisan3.mp3')}}" type="audio/mpeg">
      </audio>
      <br>

      <p id="uchisan-script" > <span class="quotation">"</span>
        　<strong>送りしたリンクの　ええとお　どれだろうな　いっぱい出てきたと思います　一番上のやつすねぇ　たぶん</strong>　
        <span class="quotation">"</span></p>
      <!-- recording button -->
      <h3>Record voice:</h3>

        <button class="btn btn-light" id="recordButton"> <img src="static/microphone.png" alt=""> </button>
        <button class="btn btn-success" id="pauseButton" disabled>Pause</button>
        <button class="btn btn-light" id="stopButton" disabled> <img src="static/stop.png" alt=""> </button>

      <br><br>

        <ul id="recordingsList">
        </ul>




    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{url_for('static',filename='game.js')}}"></script>



    <!-- {{form.submit(id="register-btn")}} -->

  </form>
  <!-- ########################################### -->


{% endblock %}
